rabbitmq:
  auth:
    username: "risk"
    password: "change-me"
    erlangCookie: "change-me-too"
  persistence:
    enabled: true
    size: 8Gi
  service:
    type: ClusterIP
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true   # if you use Prometheus Operator